<section class="nes-container main-container">
    <div>

        <h2><i class="nes-icon snes-pad is-medium" title="Currently Playing"></i> <span style="vertical-align:text-bottom"> {{js-username}} Currently playing games list</span></h2>

        <p class="character-filter">
            {{js-pagination-indexes}}
          </p>

        <table class="nes-table is-bordered">
            <thead>
                <tr>
                    <th>
                        <a up-emit="link:currently-playing-games" up-emit-props='{"transition":"cross-fade" }' data-filter="name" data-filter-value="{{js-name-filter-value}}" data-from="{{js-from}}" data-from-id="{{js-from-id}}" href="#">Name{{js-name-filter-title-suffix}}</a>
                    </th>
                    <th>
                        <a up-emit="link:currently-playing-games" up-emit-props='{"transition":"cross-fade" }' data-filter="platform" data-filter-value="{{js-platform-filter-value}}" data-from="{{js-from}}" data-from-id="{{js-from-id}}" href="#">Platform{{js-platform-filter-title-suffix}}</a>
                    </th>
                    <th>
                        <a up-emit="link:currently-playing-games" up-emit-props='{"transition":"cross-fade" }' data-filter="finished" data-filter-value="{{js-finished-filter-value}}" data-from="{{js-from}}" data-from-id="{{js-from-id}}" href="#"><i class="nes-icon trophy" title="Finished"></i>{{js-finished-filter-title-suffix}}</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {{js-table-rows}}
            </tbody>
        </table>

        <section class="nes-container">
            <div>
                <p>
                    {{js-currently-playing-games-count}}.
                </p>
            </div>
        </section>

        <section class="nes-container">
            <div>
                {{js-pagination}}
                <p>
                    {{js-back-from}}
                </p>
            </div>
        </section>

</div>
</section>