<section class="nes-container main-container">
    <div>

        <h2>{{js-game-name}}</h2>

        {{js-game-dlc-block}}

        <p><strong>Year first published</strong>: {{js-game-publish-date}}</p>

        <p><strong>Available on</strong>:</p>
        <table class="nes-table is-bordered">
            <thead>
                <tr>
                    <th>Platform Name</th>
                    <th>
                        <i class="nes-icon trophy is-empty" title="Pending"></i>
                    </th>
                    <th>
                        <i class="nes-icon snes-pad" title="Currently playing"></i>
                    </th>
                    <th>
                        <i class="nes-icon trophy" title="Finished"></i>
                    </th>
                    <th>
                        <i class="nes-icon skull" title="Abandoned"></i>
                    </th>
                    <th>
                        <i class="nes-icon heart" title="Wishlisted"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                {{js-table-rows}}
            </tbody>
        </table>

        <p>
            View game info at:
            <ul class="buttons-list">
              {{js-game-urls}}
            </ul>
        </p>

        <section class="nes-container">
            <div>
                <p>
                  {{js-back-from}}
                </p>
            </div>
        </section>

    </div>
</section>