<section class="nes-container main-container">
  <div>

    <h2><i class="nes-icon snes-pad is-medium" title="Game"></i> A Random Played Game</h2>

      <section class="nes-container">
          <div>
              <p>
                  {{js-random-game}}
              </p>
          </div>
      </section>

      <section class="nes-container">
          <div>
              <p>
                <a class="nes-btn is-primary" up-emit="link:random-game" href="#">Another Game</a>
                {{js-back-from}}
              </p>
          </div>
      </section>

</div>
</section>