<section class="nes-container main-container">
  <div>

    <h2>{{js-username}} platforms</h2>

    <table class="nes-table is-bordered">
        <thead>
            <tr>
                <th>
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
            {{js-user-platforms-table}}
        </tbody>
    </table>

    <section class="nes-container">
      <div>
          <p>
              {{js-back-from}}
          </p>
      </div>
  </section>

  </div>
</section>