<section class="nes-container main-container">
  <div>

    <h2>{{js-username}} {{js-platform-name}} games</h2>

    {{js-game-search}}

    {{js-pagination-indexes}}

    <table class="nes-table is-bordered">
        <thead>
            <tr>
                <th>
                    <a up-emit="link:user-games-by-platform" up-emit-props='{"transition":"cross-fade" }' data-filter="name" data-filter-value="{{js-name-filter-value}}" data-id="{{js-id}}" data-from="{{js-from}}" data-from-id="{{js-from-id}}" href="#">Name{{js-name-filter-title-suffix}}</a>
                </th>
                <th>
                    <a up-emit="link:user-games-by-platform" up-emit-props='{"transition":"cross-fade" }' data-filter="currentlyPlaying" data-filter-value="{{js-currently-playing-filter-value}}" data-id="{{js-id}}" data-from="{{js-from}}" data-from-id="{{js-from-id}}" href="#"><i class="nes-icon snes-pad" title="Currently playing"></i>{{js-currently-playing-filter-title-suffix}}</a>
                </th>
                <th>
                    <a up-emit="link:user-games-by-platform" up-emit-props='{"transition":"cross-fade" }' data-filter="finished" data-filter-value="{{js-finished-filter-value}}" data-id="{{js-id}}" data-from="{{js-from}}" data-from-id="{{js-from-id}}" href="#"><i class="nes-icon trophy" title="Finished"></i>{{js-finished-filter-title-suffix}}</a>
                </th>
                {{js-abandoned-column}}
                <th>Game Time</th>
            </tr>
        </thead>
        <tbody>
            {{js-table-rows}}
        </tbody>
    </table>

    <section class="nes-container with-title">
        <h3 class="title">Stats</h3>
        <div>
            <p>
                {{js-games-by-platform-count}}.
            </p>
            <p>
                {{js-currently-playing-games-count}}.
            </p>
            <p>
                {{js-finished-games-count}}, {{js-abandoned-games-count}} and {{js-pending-games-count}}.
            </p>
            <p>
                Completed {{js-games-completed-percent}} of this platform's catalog.
                <br/>
                {{js-user-progress}}
            </p>
        </div>
    </section>

    <section class="nes-container">
      <div>
          {{js-pagination}}
          <p>
              {{js-back-from}}
          </p>
      </div>
  </section>

  </div>
</section>