<section class="nes-container main-container">
  <div>

    <h2>{{js-username}} platforms</h2>

    <table class="nes-table is-bordered">
        <thead>
            <tr>
                <th>
                    <a up-emit="link:user-platforms" up-emit-props='{"transition":"cross-fade" }' data-filter="name" data-filter-value="{{js-name-filter-value}}" href="#">Name</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {{js-table-rows}}
        </tbody>
    </table>

    <section class="nes-container">
      <div>
          <p>
              {{js-back-from}}
          </p>
      </div>
  </section>

  </div>
</section>