<section class="nes-container main-container">
  <div>

    <h2>{{js-username}} games</h2>

    <table class="nes-table is-bordered">
        <thead>
            <tr>
                <th>
                    <a up-emit="link:user-games" up-emit-props='{"transition":"cross-fade" }' data-filter="name" data-filter-value="{{js-name-filter-value}}" data-from="{{js-from}}" data-from-id="{{js-from-id}}" href="#">Name</a>
                </th>
                <th>
                    <a up-emit="link:user-games" up-emit-props='{"transition":"cross-fade" }' data-filter="platform" data-filter-value="{{js-platform-filter-value}}" data-from="{{js-from}}" data-from-id="{{js-from-id}}" href="#">Platform</a>
                </th>
                <th>
                    <a up-emit="link:user-games" up-emit-props='{"transition":"cross-fade" }' data-filter="currentlyPlaying" data-filter-value="{{js-currently-playing-filter-value}}" data-from="{{js-from}}" data-from-id="{{js-from-id}}" href="#"><i class="nes-icon snes-pad" title="Currently playing"></i></a>
                    <a up-emit="link:user-games" up-emit-props='{"transition":"cross-fade" }' data-filter="finished" data-filter-value="{{js-finished-filter-value}}" data-from="{{js-from}}" data-from-id="{{js-from-id}}" href="#"><i class="nes-icon trophy" title="Finished"></i></a>
                    <a up-emit="link:user-games" up-emit-props='{"transition":"cross-fade" }' data-filter="abandoned" data-filter-value="{{js-abandoned-filter-value}}" data-from="{{js-from}}" data-from-id="{{js-from-id}}" href="#"><i class="nes-icon skull" title="Abandoned"></i></a>
                </th>
            </tr>
        </thead>
        <tbody>
            {{js-user-games-table}}
        </tbody>
    </table>

    <section class="nes-container">
      <div>
        {{js-pagination}}
        <p>
          {{js-back-from}}
        </p>
      </div>
  </section>

  </div>
</section>