<section class="nes-container main-container">
  <div>

      <h2><i class="nes-icon heart" title="Wishlisted"></i> {{js-username}} wishlisted games list</h2>

      <table class="nes-table is-bordered">
          <thead>
              <tr>
                  <th>
                      Name
                  </th>
                  <th>
                      Platform
                  </th>
              </tr>
          </thead>
          <tbody>
              {{js-wishlisted-games-table}}
          </tbody>
      </table>

      <section class="nes-container">
          <div>
              <p>
                  {{js-wishlisted-games-count}}.
              </p>
          </div>
      </section>

      <section class="nes-container">
          <div>
              <p>
                  {{js-back-from}}
              </p>
          </div>
      </section>

</div>
</section>