<section class="nes-container main-container">
  <div>

      <h2><i class="nes-icon heart" title="Wishlisted"></i> {{js-username}} wishlisted games list</h2>

      <table class="nes-table is-bordered">
          <thead>
              <tr>
                <th>
                    <a up-emit="link:wishlisted-games" up-emit-props='{"transition":"cross-fade" }' data-filter="name" data-filter-value="{{js-name-filter-value}}" data-from="{{js-from}}" data-from-id="{{js-from-id}}" href="#">Name</a>
                  </th>
                  <th>
                    <a up-emit="link:wishlisted-games" up-emit-props='{"transition":"cross-fade" }' data-filter="platform" data-filter-value="{{js-platform-filter-value}}" data-from="{{js-from}}" data-from-id="{{js-from-id}}" href="#">Platform</a>
                  </th>
              </tr>
          </thead>
          <tbody>
              {{js-wishlisted-games-table}}
          </tbody>
      </table>

      <section class="nes-container">
          <div>
              <p>
                  {{js-wishlisted-games-count}}.
              </p>
          </div>
      </section>

      <section class="nes-container">
          <div>
              {{js-pagination}}
              <p>
                  {{js-back-from}}
              </p>
          </div>
      </section>

</div>
</section>